// Tipsy.sass and Prism
@import "tipsy";
@import "prism";
@import "rrssb";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Generic
body {
  background-color: #fefefe;
  margin: 0;
  color: #222;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.center {
  text-align: center;
}

a {
  color: darken(#3498db, 10%);
  text-decoration: none;
  &:hover, &:focus {
    color: #3498db;
  }
}

h1, h2, h3 {
  line-height: 1.2;
}

.github-ribbon {
  background: url("https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png") no-repeat;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 149px;
  height: 149px;
  display: block;
  border: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
}

._header {
  text-align: center;
  padding: 15px 0;
  > h1 {
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    @include tipsy(n, #1abc9c, 10px);
    &:before, &:after {
      font-size: 21px;
    }
    @media screen and (max-width: 800px) {
      font-size: 36px;
      &:before, &:after {
        font-size: 12px;
      }
    }
  }
}

._main {
  max-width: 960px;
  width: 65%;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    width: 90%;
  }
  h2 {
    font-size: 36px;
    @media screen and (max-width: 800px) {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 24px;
    @media screen and (max-width: 800px) {
      font-size: 18px;
    }
  }
}

.example {
  overflow: hidden;
  padding: 0;
}

.example--demo {
  background-color: rgba(0, 0, 0, .1);
  display: block;
  width: 30%;
  float: left;
  padding: 10px 5px;
  margin-bottom: 2%;
  text-align: center;
  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(8) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.button {
  background-color: #e82929;
  border: 0;
  box-shadow: 0 6px 0 #aa1f1f;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 15px 30px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  @media screen and (max-width: 800px) {
    padding: 10px 25px;
  }
  &:hover, &:focus, &:active {
    color: #fff;
  }
  &:hover, &:focus {
    top: 2px;
    box-shadow: 0 4px 0 #aa1f1f;
  }
  &:active {
    top: 5px;
    box-shadow: 0 1px 0 #aa1f1f;
  }
}

.social {
  margin: 0 0 40px;
}

._footer {
  background-color: #ededed;
  padding: 5px 0;
  @extend .center;
}

// Use Tipsy.sass
.tipsy--nw { @include tipsy(nw, #1abc9c, 3px); }
.tipsy--n  { @include tipsy(n, #2ecc71, 0); }
.tipsy--ne { @include tipsy(ne, #3498db, 3px); }
.tipsy--e  { @include tipsy(e, #3498db, 0); }
.tipsy--se { @include tipsy(se, #34495e, 3px); }
.tipsy--s  { @include tipsy(s, #e74c3c, 0); }
.tipsy--sw { @include tipsy(sw, #d35400, 3px); }
.tipsy--w  { @include tipsy(w, #c0392b, 0); }